<div class="container">
    <h1 style="text-align: center; margin-top: 4%;">Gérer les absences</h1>

    <div class="filter-section">
        <div class="filter-container">
            <div class="form-row">
                <mat-form-field appearance="fill">
                    <mat-label>Select Absence Status</mat-label>
                    <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusSelect()">
                        <mat-option value="approved">Acceptés</mat-option>
                        <mat-option value="denied">Refusés</mat-option>
                        <mat-option value="pending">En cours</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="table-container mat-elevation-z8" style="margin-bottom: 5%;">
        <table mat-table [dataSource]="filteredAbsences" matSort class="mat-elevation-z8">

            <!-- Nom et Prénom Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom et Prénom </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngFor="let user of element.users">
                        {{ user.nom }} {{ user.prenom }}
                    </ng-container>
                </td>
            </ng-container>


            <!-- Type of Absence Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type d'absence </th>
                <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
            </ng-container>

            <!-- Date Start Column -->
            <ng-container matColumnDef="dateStart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Début </th>
                <td mat-cell *matCellDef="let element"> {{ element.dateStart | date: 'mediumDate' }} </td>
            </ng-container>

            <!-- Date End Column -->
            <ng-container matColumnDef="dateEnd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Fin </th>
                <td mat-cell *matCellDef="let element"> {{ element.dateEnd | date: 'mediumDate' }} </td>
            </ng-container>
            <!-- Number of Days Column -->
            <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Jours </th>
                <td mat-cell *matCellDef="let element">
                    {{ calculateDaysDifference(element.dateStart, element.dateEnd) }} jours
                </td>
            </ng-container>


            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button style="color: rgb(89, 147, 2);"
                        (click)="approveAbsence(element.id, true)">Confirmer</button>
                    <button mat-button color="warn" (click)="approveAbsence(element.id, false)">Refuser</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of absences"></mat-paginator>
    </div>
</div>