<section class="py-5" style="margin-top: 6%;" *ngIf="!isLoggedIn()">
  <div class="container-fluid">
    <div class="text-center mb-5">
      <h1 style="margin-bottom: -110px; margin-left: 49%;" id="cur">Connectez-vous</h1>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="credentialForm" (ngSubmit)="login()" style="margin-top: 10%;">

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email" id="cur"><b> Email:</b>

            </label>

            <input type="text" name="email" id="email" placeholder="Votre email" style="font-family: cursive;" formControlName="email"
              required class="form-control form-control-lg" />
            <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
              <span *ngIf="email?.errors?.['required']" style="color: red;" id="cur">*Email Obligatoire</span>
              <span *ngIf="email?.errors?.['email']" style="color: red;" id="cur">Email invalide</span>
            </div>
          </div>

          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="password" id="cur"><b>Mot de passe:</b></label>



            <div class="input-group">
              <!-- Password input -->
              <input [type]="showPassword ? 'text' : 'password'" name="password" formControlName="password"
                id="password" placeholder="Votre mot de passe"  style="font-family: cursive;" required class="form-control form-control-lg" />

              <span class="input-group-text" style="cursor: pointer; background-color: transparent;"
                (click)="togglePasswordVisibility()">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>

            </div>
            <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
              <span *ngIf="password?.errors?.['required']" style="color: red;" id="cur">*Mot de passe Obligatoire</span>
              <span *ngIf="password?.errors?.['minlength']" style="color: red;" id="cur">Mot de passe doit être au moins
                6 caractères</span>
            </div>
          </div>

          <div class="input-box button d-flex justify-content-end">
            <button type="submit" [disabled]="!credentialForm.valid" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>