<section class="filter-section">
    <div class="filter-container mat-elevation-z3">
        <div class="form-row">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Select User</mat-label>
                <mat-select [(ngModel)]="selectedUserId" (selectionChange)="onUserSelect()">
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{ user.nom }} {{ user.prenom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Select Status</mat-label>
                <mat-select [(ngModel)]="selectedStatusId">
                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                        {{ status.status.charAt(0).toUpperCase() + status.status.slice(1).toLowerCase() }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="selectedStatusId === entreeStatusId" class="form-field" appearance="fill">
                <mat-label>Select Work Mode</mat-label>
                <mat-select [(ngModel)]="selectedWorkMode">
                    <mat-option value="REMOTE">Remote</mat-option>
                    <mat-option value="ONSITE">Onsite</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="btn btn-primary" style="border-radius: 40px;" (click)="onSubmit()" type="button"
                *ngIf="shouldShowButton()">Enregistrer</button>
            <button class="btn btn-secondary" (click)="fetchTotalTimeForAllUsers()" *ngIf="hasAdminRole()"
                style="border-radius: 40px; position: absolute; left: 75%;">Rapport</button>

        </div>
    </div>

    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="filteredUsers" matSort #tableSort="matSort" class="mat-elevation-z8">

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom et Prénom </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status">
                        <h6>{{ element.nom }} {{ element.prenom }}</h6>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.status?.status)">
                    <span>
                        <h6>{{ element.status?.status.charAt(0).toUpperCase() +
                            element.status?.status.slice(1).toLowerCase() }}</h6>
                    </span>
                </td>
            </ng-container>


            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status">
                        <h6>{{ element.modified | date: 'HH:mm:ss' }}</h6>
                    </span>
                </td>
            </ng-container>


            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Temps travaillé </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-success" style="border-radius: 40px;" (click)="getTotalTime(element.id)"
                        type="button" *ngIf="displayMinutesButton(element.id) && element.status">
                        Récuperer
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="workMode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mode de travail </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        <h6> {{ element.workMode }}</h6>
                    </span>
                </td>
            </ng-container>




            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

</section>